div#container {
  width: 640px;
  height: 480px;
  position: relative;
}

div#imagePane, div#zillaHead  {
   position: absolute;
   top: 0;
   left: 0;
}

div#imagePane {
   width: 100%;
   height: 100%;
}

div#zillaHead {
   z-index: 10;
}

object {
   display: block;
}

.clickidy {
   animation-name: crunch;
   animation-duration: 1s;
   animation-delay: 0.5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: ease-out;
}

@keyframes crunch {
   0% {
      transform: rotate(0deg);
      transform-origin: left bottom;
   }
   100% {
      transform: rotate(-45deg);
      transform-origin: left bottom;
   }
}
