div#container {
  width: 640px;
  height: 480px;
  position: relative;
}

div#imagePane, div#zillaHead  {
   position: absolute;
}

div#imagePane {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

div#zillaHead {
   top: 0;
   z-index: 10;
   width: 180px;
}

object {
   display: block;
}

.animEnter {
   animation-name: headEnter;
   animation-duration: 1s;
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}

.animExit {
   animation-name: headExit;
   animation-duration: 1s;
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}

.animCrunch {
   animation-name: crunch;
   animation-duration: .75s;
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
}

@keyframes headEnter {
   100% {
      transform: translatex(175px);
   }
}

@keyframes headExit {
   100% {
      transform: translatex(175px);
   }
}

@keyframes crunch {
   0% {
      transform: rotate(-45deg);
      transform-origin: left bottom;
   }
   25% {
      transform: rotate(-45deg);
      transform-origin: left bottom;
   }
   100% {
      transform: rotate(0deg);
      transform-origin: left bottom;
   }
}
